body {
  margin: 0;
  background-color: #1d1d1e;
  font-family: 'Inter', sans-serif;
  letter-spacing: -.025em;
}

* {
  outline: none;
}

.article {
  padding: 0px 40% 90px 6.9444%;
  position: relative;
  overflow: hidden;
}

.article h1 {
  color: rgb(255, 255, 255);
  font-size: 46px;
  line-height: 50pd;
  margin-bottom: 60px;
  font-weight: 900;
}

.article h2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 50pd;
  margin-bottom: 40px;
  font-weight: 900;
  border-bottom: 1px solid #b38c52;
}

.article h3 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 50pd;
  margin-bottom: 40px;
  margin-top: 50px;
  font-weight: 900;
}

.article h5 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 50pd;
  margin-bottom: 40px;
  font-weight: 900;
}

.article p {
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 50pd;
  margin-bottom: 40px;
  font-weight: 900;
  line-height: 2.2em;
}

.info {
  border: 1px solid #171717;
  border-radius: .75rem;
  background-color: #171717;
  padding: 1rem;
}

.article-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: .5rem;
  display: block;
  max-width: 100%;
  height: auto;
}

.legend {
  text-align: center;
  font-size: .875rem;
  line-height: 1.25rem;
}

.legend p {
  color: #b38c52!important;
}

.article ul {
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 50pd;
  margin-bottom: 40px;
  font-weight: 900;
  line-height: 2.2em;
}

.basic-li::before {
  content: "•";
  color: #b38c52;
  display: inline-block;
  width: 1.5em;
  margin-left: -1em;
}

.map-legend-ul {
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-bottom: 40px;
  font-weight: 900;
  line-height: 2.2em;
}

.map-legend-li {
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 25px auto;
}

.map-legend-li.blue {
  background-image: url('../images/rectangle-legend-blue.svg');
}

.map-legend-li.yellow {
  background-image: url('../images/rectangle-legend-yellow.svg');
}

.map-legend-li.red {
  background-image: url('../images/rectangle-legend-red.svg');
}

.map-legend-li.green {
  background-image: url('../images/rectangle-legend-green.svg');
}

.sources {
  color: #b38c52;
}

@media screen and (max-width: 768px) {
  .article {
    padding: 0 10% 90px 5%;
  }

  .article h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .article h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .article h3 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .article h5 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .article p {
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .map-legend-li {
    background-size: 20px auto;
  }
}

#progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 0%;
  height: 0.7em;
  background: #b38c52;
  z-index: 9999;
  transition: width 0.5s ease;
}
