.navbar {
    background-color: rgba(29, 29, 30, 0.9);
    color: #B38C52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: border-bottom 0.3s ease;
  }
  .navbar span {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    color: inherit;
    font-family: inherit;
    text-align: inherit;
    font-style: normal;
  }
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbar-content img {
    height: 60px;
  }
  .navbar-content a {
    margin: auto;
  }
  .navbar-scroll {
    border-bottom: 1px solid #B38C52;
  }
  @media (max-width: 768px) {
    .navbar-content img {
      height: 40px;
    }
    .navbar-content span {
      font-size: 25px;
    }
  }
